<!DOCTYPE html>
		<html>
		<body>	
	<form name="myForm" action="/omdb_data" method="get">
	<p>
	Which artist do you like most: <b> <br>
	<input type="radio" name="options" value="Train"> Train <br>
	<input type="radio" name="options" value="Jason Mraz"> Jason Mraz <br>
	<input type="radio" name="options" value="Taylor Swift"> Taylor Swift <br>
	<input type="radio" name="options" value="Ed Sheeran"> Ed Sheeran <br>
	<input type="radio" name="options" value="Sam Smith"> Sam Smith <br>
	</p>
	<p><input type=submit value=Next></p>
	</form>
			</form> 
		</body>
		</html>
